.card {
    width: 18rem;
    min-width: 18rem;
    margin: 1rem;
    color: #ffc107;
    background-color: #00000041;
    li{
        background-color: transparent;
    }
}
h1 {
    margin: 1rem;
}
.speciesRow {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    height: fit-content;
}