body {
    background-color: rgb(0, 0, 71);
    color: #fff207;
}
.navbar {
    background-color: #00000041;
}
.navbar-brand{
    width: 70px;
    height: 45px;
}
.dropdown-item {
    display: flex;
    justify-content: space-between;
}
.info {
    display: flex;
    text-align: center;
    flex-flow: column nowrap;
    background-color: #00000041;
    margin: 1rem;
    h2{
        margin: 1rem;
    }
}
.more-info {
    display: flex;
    justify-content: space-between;
    margin: 1rem 3rem 1rem 3rem;
}