.navbar-brand{
    width: 70px;
    height: 45px;
}
.dropdown-item {
    display: flex;
    justify-content: space-between;
}
.info {
    display: flex;
    text-align: center;
    flex-flow: column nowrap;
    h2{
        margin: 1rem;
    }
}
.more-info {
    display: flex;
    justify-content: space-between;
    margin: 1rem 3rem 1rem 3rem;
}